@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@font-face {
  font-family: AstroSpace;
  src: url(/fonts/AstroSpace.ttf);
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: BACC81;
}
header {
  background-color: #013A20;
}
.main-nav {
  height: 90px;
}
.logo img {
  color: white;
  line-height: 90px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  font-family: "AstroSpace", sans-serif;
  align-items: center;
  height: 70px;
  margin-top: 10px;

}
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Page Styles
================================ */

body {
  font: normal 1.1em/1.5 sans-serif;
  color: #222;
  background-color: #edeff0;
}

#main-wrapper {
  width: 90%;
  margin: auto;
}

